:root{
    --first-color:#27296d;
    --second-color: #5e63b6;
    --third-color: #a393eb;
    --fourth-color:#f5c7f7; 

}

*{
    margin:0;
    padding:0;
    color: var(--first-color);

}
.wrapper{
    display: flex;
    margin: 0px;
    background-color: var(--fourth-color);
    height:100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    height:90vh;
    background-color: var(--second-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding:16px;
    grid-template-areas: "textInput textInput addBtn"
                         "all avial done"
                         "ul ul ul";

    border-radius: 5px;
    
}

#filterAll{
    grid-area:all;
}
#filterAvailable{
 grid-area:avail
}
#filterDone{
    grid-area: done
}

#filterAll::hover{
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
    
}

#filterAvailable::hover{
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

#filterDone::hover{
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

#myList{
    
    grid-area:ul;
    list-style: none;
    
}

li{
    background:var(--third-color);
    grid-area:ul;
    align-items: center;
    justify-content: space-between;
    display:flex;
    list-style: none;
    height: 40px;
    border:black solid 3px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.8);
}

.delBtn{
    margin:0;
    height:40px;
    width: 80px;
    border:black solid 3px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.8);
    cursor: pointer;
    background-color: #a393eb;
}

.delBtn::hover {
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}

input{
    grid-area:textInput;
    margin-top:50px;
    height: 50px;
    width:300px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.8);
    border: var(--first-color) solid 5px;
    background: var(--third-color)
}

#addBtn{
    grid-area:addBtn;
    margin-top: 50px;
    height: 58px;
    width:200px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.8);
    border: var(--first-color) solid 5px;
    background: var(--third-color)
    
}

#addBtn:hover , input:hover{
    cursor: pointer;
    transition:all 0.3s ease;
    transform: scale(1.1);
}


input::placeholder{
    color: var(--first-color)
}

